.paso-container {
  position: relative;
}

.paso-container .paso {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.indicador {
  position: absolute;
  text-align: center;
}

#indicador-mesa {
  right: 15em;
  top: 5em;
}

#indicador-insumo {
  right: 8em;
  top: 5em;
}

.selector .mesa,
.indicador .mesa {
  text-align: center;
  margin-bottom: 2.3em;
  border: 1px solid gray;
  background: white;
  border-radius: 8px;
}

.selector .mesa img,
.indicador .mesa img {
  width: 40%;
  height: auto;
  display: inline-block;
}

.selector .mesa p,
.indicador .mesa p {
  font-size: 250%;
}

.indicador .mesa {
  width: 5em;
  height: 4em;
  display: inline-block;
}

.indicador .mesa p {
  font-size: 100%;
}

.cantidad-col {
  padding-top: 4em;
}

.cantidad-form {
  text-align: center;
}

.cantidad-form input,
.cantidad-form select {
  width: 48%;
  display: inline-block;
}
